@import url('https://fonts.googleapis.com/css?family=Quicksand');
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*****************************
********************* GENERAL
*****************************/

body {
  font-family: 'Quicksand', sans-serif;
  background-image: url('../images/giraffe-vector.png');
  background-position: bottom right;
  background-size: 30%;
  background-repeat: no-repeat;
  background-color: #d8ecf9;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  width: 90%;
  max-width: 768px;
}

.header {
  text-align: right;
  margin-bottom:3rem;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: .8rem;
}

.accordion {
  position: relative;
  margin: 0 auto;
  width: 100%;
  border-radius: 1.5rem .5rem .5rem 1.5rem;
  overflow: hidden;
}

.accordion__item:nth-child(3n+1) {
  background-color: #E4B057;
}

.accordion__item:nth-child(3n+2) {
  background-color: #F6EFD6;
}

.accordion__item:nth-child(3n+3) {
  background-color: #C6D2A2;
}

.accordion__wall {
  position: absolute;
  pointer-events: none;
  width: 2rem;
  height: 100%;
  background: rgba(0, 0, 0, .1);
}

.accordion__heading {
  display: flex;
  padding: 1rem 2rem 1rem 4rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  justify-content: space-between;
}

.accordion__icon {
  width: 18px;
  height: 27px;
  position: relative;
  /* background: blue; */
}

.bar {
  position: absolute;
  top: 12px;
  width: 18px;
  height: 2px;
  background: black;
  border-radius: 2px;
  transition: 0.4s all ease;
}

.second-bar {
  transform: rotate(-90deg);
}

.change.first-bar {
  transform: rotate(180deg);
}

.change.second-bar {
  transform: rotate(0deg);
}

.accordion__heading:hover {
  cursor: pointer;
}

.accordion__details {
  max-height: 0;
  overflow: hidden;
  width: 65%;
  transition: 0.3s all ease;
  padding-left: 4rem;
}

.accordion__details > p {
  padding: 1rem 1rem 2rem 1rem;
  line-height: 1.2rem;
  font-size: 0.8rem;
}